// Define variables for your color scheme

// For example:
$rose: #FF999A;
$blue: #4A97F4;
$yellow: #FFE64C;
$light_yellow: #F2E59D;
$dark_blue: #010137;
$green: #6ECC66;
$black: #0E0000;
$white: #F4F4F4;
