// Define variables for your color scheme

// For example:
$rose: #F8C5C6;
$blue: #9CBDFC;
$yellow: #FEDF92;
$light_yellow: #F2E59D;
$dark_blue: #074064;
$green: #ABD4AD;
$black: #0E0000;
$white: #F4F4F4;
