.home-section {

  &.cans {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 4em;
    align-items: center;
    padding: 20em 4em 8em 4em;

    .section-title {
      z-index: 1000;
      text-align: center;
      letter-spacing: 0.25em;
      padding: 0em 13em;


      h1 {
        font-size: 6.5em;
        line-height: 1.5em;
      }

      &.translate {
        transform: translateY(-5em);
        transition-property: transform;
        transition-duration: 3s;
      }

      &.untranslate {
        transform: translateY(0em);
        transition-property: transform;
        transition-duration: 3s;
      }

    }

    .stars {

      .stars0 {
        position: absolute;
        top: 24em;
        right: 23em;

        img {
          width: 2em;
        }

        &.translate {
          transform: translate(-3em, -6em);
          transition-property: transform;
          transition-duration: 3s;

          img {
              width: 3em;
              transition-property: width;
              transition-duration: 3s;
            }
        }

        &.untranslate {
          transform: translate(0em, 0em);
          transition-property: transform;
          transition-duration: 3s;

          img {
              width: 2em;
              transition-property: width;
              transition-duration: 3s;
            }
        }
      }

      .stars1 {
        position: absolute;
        top: 30em;
        left: 32em;

        img {
          width: 2.5em;
        }

        &.translate {
          transform: translate(-6em, -3em);
          transition-property: transform;
          transition-duration: 3s;

          img {
              width: 3.5em;
              transition-property: width;
              transition-duration: 3s;
            }
        }
        &.untranslate {
          transform: translate(0em, 0em);
          transition-property: transform;
          transition-duration: 3s;

          img {
              width: 2.5em;
              transition-property: width;
              transition-duration: 3s;
            }
        }
      }
    }

    .three-canvas {
      position: relative;
      display: flex;
      justify-content: space-between;
      column-gap: 5em;
      z-index: 100000;

      .canva {
        min-width: 25em;
        height: 40em;
        // border-radius: 50px;
        // border: solid 3px $black;
        position: relative;
        cursor: grab;

        canvas {
          width: 100%;
          height: 100%;
          // border-radius: 50px;
        }

        .infos {
          position: absolute;
          bottom: 3em;
          left: 3em;
          width: 4em;
          height: 4em;
          border: solid 2px $black;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $black;
          cursor: pointer;

          span {
            font-size: 1.5em;
            font-family: $headers-font;
          }

          .bubble {
            display: none;
          }

          &:hover {

            background-color: $white;

            .bubble {
              position: absolute;
              bottom: -10em;
              left: 5em;
              width: 16em;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              padding: 2em;
              border: solid 2px $black;
              border-radius: 25px;
              background-color: $white;
            }

          }
        }
      }

      .cans-perso {
        position: absolute;
        top: -20em;
        right: 0em;
        transform: scaleX(-1);
        // transform: rotate(20deg);

        img {
          width: 18em;
        }
      }

      .cans-serviette {
        position: absolute;
        top: -17em;
        right: -1em;
        z-index: -1;

        img {
          width: 18em;
        }
      }

      .cans-glaciere {
        position: absolute;
        top: -16em;
        left: 0em;
        z-index: -1;
        transform: rotate(20deg);

        img {
          width: 14em;
        }
      }

      .cans-tonneau {
        position: absolute;
        bottom: -6em;
        right: 22.5em;
        z-index: -1;
        transform: scaleX(-1);
        // transform: rotate(25deg);

        img {
          width: 16em;
        }
      }
    }

  }
}
