.home-section {

  &.cans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 2em 2em;

    .section-title {

      &.translate {
        transform: translateY(-12em);
        transition-property: transform;
        transition-duration: 2s;
      }
    }

  }
}
