.home-section {
  &.instagram {

    .insta {
      height: 100%;
      display: flex;
      justify-content: center;

      .top-left {
        position: absolute;
        top: 0em;
        left: 9em;
        transform: rotate(-40deg);

        img {
          object-fit: cover;
          border: solid 1px $black;
          border-radius: 25%;
          width: 20em;
        }

        &.translate {
          transform: translate(2em, -7em) rotate(360deg);
          transition-property: transform;
          transition-duration: 2s;

          img {
            width: 24em;
            transition-property: width;
            transition-duration: 2s;
          }
        }
      }

      .top-right {
        position: absolute;
        top: 3em;
        right: 10em;
        transform: rotate(30deg);

        img {
          object-fit: cover;
          border: solid 1px $black;
          border-radius: 25%;
          width: 20em;
        }

        &.translate {
          transform: translate(5em, -3em) rotate(345deg);
          transition-property: transform;
          transition-duration: 2s;

          img {
            width: 24em;
            transition-property: width;
            transition-duration: 2s;
          }
        }
      }

      .bottom-left {
        position: absolute;
        bottom: 4em;
        left: 13em;
        transform: rotate(15deg);

        img {
          object-fit: cover;
          border: solid 1px $black;
          border-radius: 25%;
          width: 20em;
        }

        &.translate {
          transform: translate(-3em, -5em) rotate(345deg);
          transition-property: transform;
          transition-duration: 2s;

          img {
              width: 24em;
              transition-property: width;
              transition-duration: 2s;
            }
        }
      }

      .bottom-right {
        position: absolute;
        bottom: 4em;
        right: 10em;
        transform: rotate(-20deg);

        img {
          object-fit: cover;
          border: solid 1px $black;
          border-radius: 25%;
          width: 20em;
        }

        &.translate {
          transform: translate(2em, -1em) rotate(345deg);
          transition-property: transform;
          transition-duration: 2s;

          img {
            width: 24em;
            transition-property: width;
            transition-duration: 2s;
          }
        }
      }

      .insta-title-link {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0em 30em;

        .insta-link {
          position: relative;
        }
      }

      // .raisin {
      //   z-index: 10;
      //   position: absolute;
      //   top: 23em;
      //   left: 30em;
      //   transform: rotate(28deg);

      //   img {
      //     width: 10em;
      //   }
      // }
    }
  }
}
