.home-section {
  width: 100vw;
  height: 110vh;
  position: relative;

  &.min-h {
    height: 80vh;
  }

  &.max-h {
    min-height: 120vh;
  }

  &.yellow {
    background-color: $yellow;
  }

  .wave {
    position: absolute;
    bottom: 0;

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  .wave-down {
    position: absolute;
    top: 0;

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  .nimbus {

    h1 {
      font-family: $headers-font;
      color: $dark-blue;
    }
  }

  .left-side-umbrella {
    position: absolute;
    top: 0em;
    left: -8em;
    transform: rotate(45deg);
    z-index: -10000;

    img {
      width: 25em;
    }
  }

  &.top {
    display: flex;
    justify-content: center;
    padding: 4em 2em 0em 2em;

    .logo {

      .letters {
        display: flex;

        img {
          width: 5em;
        }
      }

    }

  }

  &.cans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 2em 2em;

    .section-title {

    }
  }

  .brand {
    padding: 3em 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4em;

    .baseline {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .brand-infos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
      column-gap: 3em;

        .infos {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          .trix-content {
            font-size: 2em;
          }
        }
    }

    .cheers {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2em;
      z-index: 100;

      .small-cans {

        img {
          width: 20em;
          object-fit: cover;
        }
      }

      h2 {
        text-align: center;
      }
    }
  }

  &.images {

    .photos-wrapper {
      display: flex;
      justify-content: center;
      height: 100%;
      border-bottom: solid 3px $black;

      .photo {

        &.left {
          border-right: solid 3px $black;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    padding: 2em;
    position: relative;

    h1{
      font-size: 7em;
    }

    .you {
      position: absolute;
      top: 8em;
      left: 25em;
      transform: rotate(-20deg);
    }

    .wanna {
      position: absolute;
      top: 7em;
      right: 20em;
      transform: rotate(30deg);
    }

    .order {
      position: absolute;
      top: 20em;
      left: 20em;
      transform: rotate(-10deg);
    }

    .some {
      position: absolute;
      bottom: 20em;
      right: 10em;
      transform: rotate(10deg);
    }

    .contact-green-umbrella {

      position: absolute;
      bottom: 13em;
      left: 7em;
      transform: rotate(-25deg);

      img {
          width: 18em;
        }
    }

    .contact-pink-umbrella {
      position: absolute;
      bottom: 1em;
      left: 5em;
      transform: rotate(25deg);

      img {
        width: 18em;
      }
    }
    .contact-btn {
      position: relative;
    }
  }

  &.instagram {

    .insta {
      height: 100%;
      display: flex;
      justify-content: center;

      .top-left {
        position: absolute;
        top: 0em;
        left: 9em;
        transform: rotate(-40deg);

        img {
          object-fit: cover;
          border: solid 1px $black;
          border-radius: 25%;
          width: 20em;
        }
      }

      .top-right {
        position: absolute;
        top: 3em;
        right: 12em;
        transform: rotate(30deg);

        img {
          object-fit: cover;
          border: solid 1px $black;
          border-radius: 25%;
          width: 20em;
        }
      }

      .bottom-left {
        position: absolute;
        bottom: 4em;
        left: 13em;
        transform: rotate(15deg);

        img {
          object-fit: cover;
          border: solid 1px $black;
          border-radius: 25%;
          width: 20em;
        }
      }

      .bottom-right {
        position: absolute;
        bottom: 4em;
        right: 10em;
        transform: rotate(-20deg);

        img {
          object-fit: cover;
          border: solid 1px $black;
          border-radius: 25%;
          width: 20em;
        }
      }

      .insta-title-link {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0em 30em;

        .insta-link {
          position: relative;
        }
      }
    }
  }

}
