.home-section {
  width: 100vw;
  height: 110vh;
  position: relative;
  // scroll-snap-align: start;
  // scroll-margin: 20em;

  &.min-h {
    height: 80vh;
  }

  &.mid-h {
    height: 140vh;
  }

  &.max-h {
    min-height: 200vh;
  }

  &.yellow {
    background-color: $yellow;
  }

  .wave {
    width: 100vw;
    position: absolute;
    bottom: -1em;

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  .wave-down {
    width: 100vw;
    position: absolute;
    top: -1em;

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  .nimbus {

    h1 {
      font-family: $headers-font;
      color: $dark-blue;
    }
  }

}
