.home-section {
  width: 100vw;
  height: 110vh;
  position: relative;

  &.min-h {
    height: 80vh;
  }

  &.max-h {
    min-height: 120vh;
  }

  &.yellow {
    background-color: $yellow;
  }

  .wave {
    width: 100vw;
    position: absolute;
    bottom: -1em;

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  .wave-down {
    width: 100vw;
    position: absolute;
    top: -1em;

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  .nimbus {

    h1 {
      font-family: $headers-font;
      color: $dark-blue;
    }
  }

  .left-side-umbrella {
    position: absolute;
    top: 0em;
    left: -8em;
    transform: rotate(45deg);
    z-index: -10000;

    img {
      width: 25em;
    }
  }

}
