.home-section {
  .brand {
    padding: 3em 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4em;

    .baseline {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 0em 12em;

      &.translate {
          transform: translateY(-1.5em);
          transition-property: transform;
          transition-duration: 1s;
        }

      &.untranslate {
          transform: translateY(1.5em);
          transition-property: transform;
          transition-duration: 1s;
        }
    }

    .brand-infos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
      column-gap: 3em;

      .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &.translate {
          transform: translateY(-1.5em);
          transition-property: transform;
          transition-duration: 1s;
        }
        &.untranslate {
          transform: translateY(1.5em);
          transition-property: transform;
          transition-duration: 1s;
        }

        &.left {
          z-index: -100;

        }

        .trix-content {
          font-size: 2em;
        }
      }
    }

    .cheers {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2em;
      z-index: 100;

      .text {
        &.translate {
            animation: wobble;
            animation-duration: 3s;
          }
      }

      .illus {
        padding: 0em 4em;

        img {
          width: 4em;
          object-fit: cover;
        }

        &.left {

          &.translate {
            transform: rotate(2.6turn) scale(1.5);
            transition-property: transform;
            transition-duration: 4s;
          }

          &.untranslate {
            transform: rotate(-2.6turn) scale(1);
            transition-property: transform;
            transition-duration: 4s;
          }
        }

        &.right {

          &.translate {
            transform: rotate(2.4turn) scale(1.5);
            transition-property: transform;
            transition-duration: 4s;
          }
          &.untranslate {
            transform: rotate(-2.4turn) scale(1);
            transition-property: transform;
            transition-duration: 4s;
          }
        }

      }

      h2 {
        text-align: center;
      }
    }

  }

  .left-side-umbrella {
    position: absolute;
    top: 0em;
    left: -8em;
    transform: rotate(45deg);
    z-index: -10000;

    img {
      width: 25em;
    }
  }

  .grappe {
    position: absolute;
    bottom: 10em;
    right: 0em;

    img {
      width: 20em;
    }

    &.translate {
      animation: pulse;
      animation-duration: 2s;
    }
  }

  .right-side-mouette {
    position: absolute;
    top: 3em;
    right: -10em;
    z-index: -10;

    img {
      width: 17em;
      transform: scaleX(-1);
    }

    &.translate {
      transform: translate(-120em, 20em) scale(1.75) perspective(25em);
      transition-property: transform;
      transition-duration: 8s;
    }
  }
}
