<div class="curved-title">
  <div class="line1">
    <h1 class="O">O</h1>
    <h1 class="r">r</h1>
    <h1 class="g">g</h1>
    <h1 class="a">a</h1>
    <h1 class="n">n</h1>
    <h1 class="i">i</h1>
    <h1 class="c">c</h1>
    <span class="space"></span>
    <h1 class="f">f</h1>
    <h1 class="r2">r</h1>
    <h1 class="e">e</h1>
    <h1 class="n2">n</h1>
    <h1 class="c2">c</h1>
    <h1 class="h">h</h1>
  </div>
  <div class="line2">
    <h1 class="w">w</h1>
    <h1 class="i2">i</h1>
    <h1 class="n3">n</h1>
    <h1 class="e2">e</h1>
    <span class="space"></span>
    <h1 class="i3">i</h1>
    <h1 class="n4">n</h1>
    <span class="space"></span>
    <h1 class="a2">a</h1>
    <span class="space"></span>
    <h1 class="c3">c</h1>
    <h1 class="a3">a</h1>
    <h1 class="n5">n</h1>
  </div>
</div>
