<div class="footer">
  <div class="left">
    <p>Credits:</p>
    <p>Webdesign & development: Léo Bufi</p>
    <p>Graphic Design: Sammy Faringon</p>
    <p>Illustrations: Amélie de La Taillade</p>
  </div>
  <div class="right">
  <p>©2023 SUPERNATURAL SAS, 65 avenue Ledru Rollin, 75012 PARIS</p>
  </div>
</div>
