<div class="home-section min-h images">
  <div class="wave-down">
    <%= image_tag("OELP_vague_bleue_down.svg") %>
  </div>
  <div class="photos-wrapper">
    <% @photos.where(side: "Left").each do |p| %>
      <div class="photo left">
        <%= cl_image_tag p.photo.key %>
      </div>
    <% end %>
    <% @photos.where(side: "Right").each do |p| %>
      <div class="photo">
        <%= cl_image_tag p.photo.key %>
      </div>
    <% end %>
  </div>
</div>
