  <div class="home-section yellow cans" data-action="scroll@window->scrolled-animations#translate">
    <div class="section-title nimbus" data-scrolled-animations-target="can">
      <h1>Organic french wine in a can</h1>
    </div>
    <div class="wave" data-scrolled-animations-target="canPosition">
      <%= image_tag("OELP_vague_bleue_up.svg") %>
    </div>
  </div>
