  <div class="home-section yellow cans" data-controller="scrolled-animations">
    <div class="section-title nimbus" data-scrolled-animations-target="can" data-action="scroll@window->scrolled-animations#rotate">
      <h1>Organic french wine in a can</h1>
    </div>
    <div class="wave">
      <%= image_tag("OELP_vague_bleue_up.svg") %>
    </div>
  </div>
