<% if current_admin.admin? %>
<div class="">
  <h3> Replace photo</h3>
  <%= simple_form_for(@photo) do |f| %>
    <%= f.input :photo, as: :file, label: "Photo :" %>
    <%= f.input :side, as: :radio_buttons, collection: ["Left", "Right"], label: "Position:" %>
    <button>
      <%= f.button :submit, "Publish" %>
    </button>
  <% end %>
</div>
<% else %>
  <div class="">
    <p>You're not authorized to access this page.</p>
  </div>
<% end  %>
