.form {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  padding: 2em 2em;
  border: solid 1px $black;
  border-radius: 50px;
  background-color: $white;
}

.form-group {
  font-size: 1.5em;
  padding: 0.5em 0em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.form-label {
  padding-bottom: 1em;
  font-size: 2em;
  font-family: $title-font;

}
.col-form-label {
  padding-bottom: 1em;
  font-size: 2em;
  font-family: $title-font;
}

.form-check {
  display: flex;
  column-gap: 1em;
}

.form-check-input {
  border-color: $white;
}

.form-button {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.form-control {
  background-color: $white;
  border-radius: 25px;
}

.trix-button {
  font-size: 0.7em;
}

trix-editor {
  margin: 2em 0em;
  padding: 1em;
  height: 10em;
  border: solid 1px $black;
  border-radius: 25px;
}

.parasol {
  position: absolute;
  top: 10em;
  right: 3em;

  img {
    width: 6em;
  }
}

.form-raisin {
  position: absolute;
  top: -3em;
  left: -4em;

  img {
    width: 15em;
  }
}

.form-raisin2 {
  position: absolute;
  top: -3em;
  right: -4em;
  transform: scaleX(-1);

  img {
    width: 15em;
  }
}

.form-glaciere {
  position: absolute;
  top: 45em;
  left: 0em;
  transform: rotate(30deg);

  img {
    width: 10em;
  }
}

.form-glaciere2 {
  position: absolute;
  top: 45em;
  right: 0em;
  transform: rotate(-30deg) scaleX(-1);

  img {
    width: 10em;
  }
}
