.player {
  position: fixed;
  top: 2em;
  right: 2em;
  z-index: 1000000;
  cursor: pointer;
  width: 5em;
  height: 5em;
  background-color: $green;
  border: solid 1px $black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $rose;
    box-shadow: -0.2em 0.2em $dark-blue;
    box-shadow: -0.4em 0.4em $yellow;
    box-shadow: -0.6em 0.6em $green;
    transition-property: box-shadow;
    transition-duration: 0.5s;
  }

  .pause-btn {
    display: none;

    &.bump {
      animation: bounceIn;
      animation-duration: 0.5s;
    }
  }
}
