.player {
  position: fixed;
  top: 2em;
  right: 2em;
  z-index: 1000000;
  cursor: pointer;
  width: 5em;
  height: 5em;
  background-color: $rose;
  border: solid 1px $black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $green;
    box-shadow: -0.4em 0.4em $rose;
    transition-property: box-shadow;
    transition-duration: 0.5s;
  }

  .pause-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .play-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
