// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "font-awesome";

body {
  font-size: 1vw;
}

h1 {
  font-size: 5em;
  font-family: $title-font;

  .colored {
    color: $rose;
  }

  &.colored {
    color: $rose;
  }
}

h2 {
  font-size: 3.5em;
  font-family: $title-font;
}

h3 {
  font-size: 3em;
  font-family: $title-font;

  .small {
    font-size: 0.3em;
  }
}

h4 {
  font-size: 2.25em;
  font-family: $title-font;
}

h5 {
  font-size: 2em;
  font-family: $title-font;
}

p {
  font-size: 2em;
}

.trix-content {
  font-size: 1.2em;
}

span {
  font-size: 1.5em;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $rose;
  }
}

.container {
  margin: 0 auto;
}

.home-hero {
  width: 100%;
  max-width: 100em;
  overflow: hidden;

  .loader {
    background-color: $blue;
    position: fixed;
    top: 0em;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    opacity: 100%;

    &.fade-out {
      opacity: 0%;
      transition-property: opacity;
      transition-duration: 2s;
    }
  }
}
