<% if current_admin.admin? %>
<div class="container">
  <div class="page-padding">
    <div class="page-title">
      <h3>Write your baseline</h3>
    </div>
    <div class="form">
      <%= simple_form_for(@baseline) do |f| %>
        <%= f.input :baseline, placeholder: "Our wines are produced in France by winegrowers who are passionate about their work and their lands.", label: "Baseline:" %>
      <div class="form-button">
        <button>
          <%= f.button :submit, "Publish" %>
        </button>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% else %>
  <div class="container">
    <p>You're not authorized to access this page.</p>
  </div>
<% end  %>
